body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.mobile-menu{
    display: none;
}
@media screen and (max-width: 767px) {
    header{
        background-color: #0047b5;
        width: 100vw;
        height: 18vh;
        display: block;
    
    }
    header img{
        width: 16vw;
        height: 11vh;
    }

    p{
        display: none;
    }
    a{
        font-family: 'Rubik',sans-serif;
        color: aliceblue;
        text-decoration: none;
        transition: 0.3s ;
        font-size: 12px;
    }
    a:hover{
        opacity: 0.7;
    }
    .content{
        width: 95%;
        height: 11vh;
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
    }
    header .content .inputs{
        width: 66vw;
        height: 5vh;
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 20px;
        margin-right: 2px;
    }
    header .content .inputs input{
        height: 30px;
        width: 56vw;
        margin-top: 4px;
        border: none;
        border-radius: 20px;

    }
    header .content .inputs button{
        margin-top: 3px;
        height: 36px;
        border: none;
        background-color: white;
        margin-bottom: 6px;
        border-radius: 50%;
    }
    .user{
        display: flex;
    }
    .user button{
        border: none;
        background-color: transparent;
    }
    .user .fa-user , .fa-bars   {
        color: whitesmoke;
    }
    .nav-item{
        display: none;
    }
    header .nav-list{
        list-style: none;

    }
    .nav-list a{
        letter-spacing: 3px;
        margin-left: 32px;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .open{
        display: block;
        background-color: #0047b5;
    }
}